@import url(https://fonts.googleapis.com/css?family=Outfit);

body {
    font-family: Outfit, Garamond;
}

.home-page {
    display: block;
}

.game-page {
    display:none;
}

img {
    display: block;
    width: 25%;
    height: auto;
}

.end-page {
    display:none;
}